/* Variables and mixins declared here will be available in all other SCSS files */
$bg-primary: hsla(296, 29%, 22%, 1);
$bg-primary-darker: hsla(296, 29%, 15%, 1);
$bg-accent: #5e3461;
$text-primary: #f8fcda;
$text-highlight: white;
$font-stack: 'Andika', sans-serif;